{% extends "account/base.html" %}

{% load i18n %}

{% block sub_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="row justify-content-center bg-light mt-5 pt-3 pb-5 px-5" style="max-width: 600px">
  <h1 class="text-center no-select">{% trans "Sign Out" %}</h1>

  <p class="text-center my-5">{% trans 'Are you sure you want to sign out?' %}</p>

  <div class="row">
    <div class="col mx-auto">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center mt-5">
          <button type="submit" class="btn btn-lg btn-success rounded-0">{% trans 'Sign Out' %}</button>
          </p>
      </form>
    </div>
  </div>
</div>

{% endblock %}