{% extends "account/base.html" %}

{% load i18n %}
{% block sub_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="row mx-auto bg-light mt-5 pt-5 pb-5 px-2 px-sm-5" style="max-width: 600px">
    <h1 class="text-uppercase">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'change password' %}" class="btn btn-lg btn-success"/>
    </form>
    {% endif %}
</div>
<div class="mt-2 text-center">
    <a class="btn btn-lg btn-success rounded-0" href="{% url 'products' %}">{% trans "To Shop" %}</a>
</div>
{% endblock %}