{% extends "account/base.html" %}

{% load i18n %}

{% block sub_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="row mx-auto bg-light mt-5 pt-5 pb-5 px-2 px-sm-5" style="max-width: 600px">
    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="mt2">
            <a href="{% url 'account_reset_password' %}" class="link-dark"><u>{% trans "Forgot Password?" %}</u></a>
        </p>
        <div class="mt-2">
            <a class="btn btn-lg btn-outline-success rounded-0 me-2"
                href="{% url 'products' %}">{% trans "Return" %}</a>
            <button class="btn btn-lg btn-success rounded-0 mx-2" type="submit"
                name="action">{% trans "Change" %}</button>
        </div>
    </form>
</div>
{% endblock %}