{% extends "base.html" %}
{% load static %}

{% block sub_title %}Home{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="container-fluid bg-index min-vh-100">
    <div class="row no-select">
        <div class="col-12 ps-lg-5 my-5">
            <h1 class="display-4 text-black fw-bolder mt-5 pt-5">
                Retry
            </h1>
            <h2 class="display-6">
                Second-hand online store
            </h2>
            <div class="my-5">
                <p>Our stuff need a second chance</p>
            </div>
            <div class="my-5">
                <h3>
                    <a href="#" class="btn btn-lg rounded-0 text-uppercase py-3 btn-index btn-success font-nav rounded-pill">
                        Shop now
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock%}