{% extends "base.html" %}
{% load static %}

{% block sub_title %}Profile{% endblock %}

{% block content %}
<div class="bg-main"></div>
<div class="container-fluid min-vh-100 pt-5 px-5">
    <div class="row pt-5">
        <div class="col-12 col-lg-6">
            <p class="text-muted small no-select">Your Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ profile_form|crispy }}
                <button class="btn btn-success rounded-0 text-uppercase mt-1">Update</button>
                {% if not request.user.is_superuser %}
                <a href="{% url 'delete_account' %}" class="btn btn-danger rounded-0 text-uppercase mt-1">Delete
                    Account</a>
                {% endif %}
            </form>
        </div>
        <div class="col-12 col-lg-6 my-5 my-lg-0">
            <p class="text-muted small no-select">Order History</p>
            <div class="order-history">
                <table class="table-sm table-borderless no-select">
                    <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Total</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}" class="link-dark">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% empty %}
                                    <li class="small">This is a blank order, please contact us for more infromation.
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                            <td>
                                {% if order.orderreview %}
                                <a href="{% url 'order_review' order.order_number order.orderreview.slug %}" title="{{ order.order_number }}-review"
                                    class="btn-sm btn-success rounded-0">Review</a>
                                {% else %}
                                <a href="{% url 'create_review' order.order_number %}" title="{{ order.order_number }}-review"
                                    class="btn-sm btn-success rounded-0">Create</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <p class="text-center">No order record yet.</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    let countrySelected = $('#id_default_country').val();
    if (!countrySelected) {
        $('#id_default_country').css('color', '#6c757d');
    };
    $('#id_default_country').change(function () {
        countrySelected = $(this).val();
        if (!countrySelected) {
            $(this).css('color', '#6c757d');
        } else {
            $(this).css('color', '#000');
        }
    });
</script>
{% endblock%}