{% extends "base.html" %}
{% load static %}

{% block sub_title %}Profile{% endblock %}

{% block content %}
<div class="bg-main"></div>
<div class="container-fluid min-vh-100 pt-5 px-5">
    <div class="row pt-5">
        <div class="col text-center">
            <h1 class="no-select"> Profile</h1>
            <p class="no-select pb-3">Current User: {{ user.username }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted small no-select">Your Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ profile_form|crispy }}
                <button class="btn btn-success rounded-0 text-uppercase mt-3">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
            <p class="text-muted small no-select">Order History</p>
        </div>
    </div>
</div>
{% endblock %}