@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');

/* base style */
html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #fafafa;
  color: #3a3a3a;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  word-break: break-word;
  white-space: normal;
}

/* background layer */
.bg-main {
  background-color: #fafafa !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

/* Navbar */
.icon-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 28px;
  width: fit-content;
  color: #FFF1CE !important;
}

.bg-nav {
  background-color: #075E31;
}

.font-nav {
  color: #FFF1CE !important;
}

.bg-sub {
  background-color: #FFF1CE;
}

.font-sub {
  color: #075E31;
}

input[name='q']::placeholder {
  color: #aab7c4;
}

/* Home */
.bg-index {
  background: url('/media/index-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.btn-index {
  background-color: #075E31;
}

.btn-index:hover {
  transition: .5s;
  filter: brightness(110%);
}

/* Product */
.product-card {
  width: 28rem;
}

.product-card:hover {
  background-color: #075E31;
  color: #fafafa !important;
  transition: 1s;
}

textarea[name="description"] {
  max-height: 100px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.products {
  max-width: 950px;
}

.product-img {
  height: 28rem;
  width: 28rem;
}

#detail-img {
  height: 16rem;
  width: 16rem;
}

/* Cart */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link {
  cursor: pointer;
}

/* bootstrap toasts */

.message-container {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

/* allauth form */
.allauth-form-inner-content p {
  color: #3a3a3a;
}

.allauth-form-inner-content input:not([name='remember']) {
  border-radius: 0;
  margin: 1rem 0 1rem 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #6c757d;
}

/* Profile */
#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #6c757d;
}

.order-history {
  max-height: 416px;
  overflow-y: auto;
}

/* Report List */
.accordion-button:not(.collapsed) {
  color: #075E31 !important;
  background-color: #fafafa !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* Order List */
#OrderList {
  height: calc(100vh - 300px);
  min-height: 400px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Media Tool */
@media (min-width: 768px) {
  .product-img {
    height: 14rem;
    width: 14rem;
  }

  .product-card {
    width: 14rem;
  }

  #detail-img {
    height: 24rem;
    width: 24rem;
  }
}

@media (min-width: 991px) {
  .product-img {
    height: 16rem;
    width: 16rem;
  }

  .product-card {
    width: 16rem;
  }

  #detail-img {
    height: 30rem;
    width: 30rem;
  }

  .increment-qty,
  .decrement-qty {
    padding: .4rem .5rem !important;
  }

  .btn.btn-lg.btn-success.rounded-0,
  .btn.btn-lg.btn-outline-success.rounded-0,
  .btn.btn-lg.btn-outline-success.rounded-0.me-2,
  .btn.btn-lg.btn-success.rounded-0.mx-2,
  .cart-btn,
  .detail-btn {
    padding: .5rem .6rem !important;
    font-size: .8rem !important;
  }

  .admin-btn {
    padding: 0.25rem 0.3rem;
  }

}