<div class="row gx-0 border border-success mb-2 align-items-center">
    <div class="col-12 col-md-3 pe-0">
        {% if widget.is_initial %}
        <a href="{{ widget.value.url }}">
            <img width="96" height="96" class="rounded shadow-sm p-1" src="{{ widget.value.url }}" alt="new product image">
        </a>
        {% if not widget.required %}
        <div class="custom-control mt-2 ms-2">
            <input type="checkbox" name="{{ widget.checkbox_name }}"
                id="{{ widget.checkbox_id }}">
            <label class="text-danger"
                for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
        {% endif %}
        {{ widget.input_text }}
        {% endif %}
    </div>
    <div class="col-12 col-md-9 pb-2">
        <span class="btn btn-success rounded-0 btn-file ms-2 mt-1">
            Select Image<input type="{{ widget.type }}" name="{{ widget.name }}"
                {% include "django/forms/widgets/attrs.html" %}>
        </span>
        <p class="text-danger ms-2 my-2 fw-bold" id="filename"></p>
    </div>
</div>