<nav class="navbar navbar-expand-lg d-none d-lg-flex bg-nav fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand icon-title" href="{% url 'home' %}"><i class="fas fa-cog fa-spin" style="color:#D29D2B;"></i>Retry</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto fw-bold">
                <li class="nav-item">
                    <a class="nav-link font-nav" href="#">
                        $0.00
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="search-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-search"></i>
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="search-lg" style="min-width: 300px;">
                        <li class="mx-3">
                            <form class="d-flex" method="GET" action="">
                                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="category-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="category-lg">
                        <li><a class="dropdown-item font-sub" href="#">Personal items</a></li>
                        <li><a class="dropdown-item font-sub" href="#">Clothing & Accessories</a></li>
                        <li><a class="dropdown-item font-sub" href="#">Furniture & Decoration</a></li>
                        <li><a class="dropdown-item font-sub" href="#">Necessity</a></li>
                        <li><a class="dropdown-item font-sub" href="#">Handmade product</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="account-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="account-lg">
                        <li><a class="dropdown-item font-sub" href="#">Sign Up</a></li>
                        <li><a class="dropdown-item font-sub" href="#">Sign In</a></li>
                        <li><a class="dropdown-item font-sub" href="#">My Profile</a></li>
                        <li><a class="dropdown-item font-sub" href="#">My Orders</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-sub" href="#">Sign Out</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="about-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="about-lg">
                        <li><a class="dropdown-item font-sub" href="#">Our Team</a></li>
                        <li><a class="dropdown-item font-sub" href="#">Our Partners</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>