<nav class="navbar navbar-expand-lg d-none d-lg-flex bg-nav fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand icon-title" href="{% url 'home' %}"><i class="fas fa-cog fa-spin"
                style="color:#D29D2B;"></i>Retry</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto fw-bold align-items-center">
                <li class="nav-item">
                    <a class="nav-link font-nav" href="{% url 'view_cart' %}">
                        <div class="row">
                            <span class="col-2 px-2 align-self-center">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <span class="col-10">
                                <span class="mb-0">
                                    Shopping Cart
                                    {% if product_count %}
                                    {% if product_count < 10 %}
                                    <span class="badge bg-danger">
                                        {{ product_count }}
                                        <span class="visually-hidden">{{ product_count }}</span>
                                    </span>
                                    {% else %}
                                    <span class="badge bg-danger">
                                        9+
                                        <span class="visually-hidden">{{ product_count }}</span>
                                    </span>
                                    {% endif %}
                                    {% endif %}
                                </span><br />
                                <span style="font-size:8px;">
                                    {% if total_cost %}
                                    ${{ total_cost|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </span>
                            </span>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="category-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2"><i class="fas fa-boxes"></i></span>Category
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="category-lg" style="min-width: 300px;">
                        <li class="mx-2">
                            <form class="d-flex" method="GET" action="{% url 'products' %}">
                                <input class="form-control me-2" type="search" name="q" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"><i
                                        class="fas fa-search"></i></button>
                            </form>
                        </li>
                        <li><a class="dropdown-item font-sub" href="{% url 'products' %}">All Products</a></li>
                        <li><a class="dropdown-item font-sub"
                                href="{% url 'products' %}?category=personal_items">Personal items</a></li>
                        <li><a class="dropdown-item font-sub"
                                href="{% url 'products' %}?category=clothing_accessories">Clothing & Accessories</a>
                        </li>
                        <li><a class="dropdown-item font-sub"
                                href="{% url 'products' %}?category=furniture_decoration">Furniture & Decoration</a>
                        </li>
                        <li><a class="dropdown-item font-sub"
                                href="{% url 'products' %}?category=necessity">Necessity</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'products' %}?category=handmade">Handmade
                                product</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="account-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2"><i class="fas fa-user"></i></span>
                        {% if request.user.is_authenticated %}
                        {{ user.username | title }}
                        {% else %}
                        My Account
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="account-lg">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item font-sub" href="{% url 'profile' %}">My Profile</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'account_change_password' %}">Change Password</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'account_email' %}">E-mail Management</a></li>
                        {% if request.user.is_superuser %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-sub" href="{% url 'add_product' %}">New Product</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'report_list' %}">Customer Report</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'contact_list' %}">Customer Contact</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'order_list' %}">Customer Orders</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-sub" href="{% url 'account_logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><a class="dropdown-item font-sub" href="{% url 'account_signup' %}">Sign Up</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'account_login' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle font-nav" href="#" id="about-lg" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2"><i class="fas fa-address-card"></i></span>About
                    </a>
                    <ul class="dropdown-menu bg-sub" aria-labelledby="about-lg">
                        <li><a class="dropdown-item font-sub" href="{% url 'about' %}">About Us</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a class="dropdown-item font-sub" href="{% url 'newsletter' %}">News Letter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>