.asteriskField {
    display: none;
}

#review-body {
    height: calc(100vh - 300px);
    min-height: 300px;
    box-sizing: border-box;
    overflow-y: auto;
}

#comments {
    height: calc(100vh - 300px);
    min-height: 400px;
    box-sizing: border-box;
    overflow-y: auto;
}

#comment-text {
    height: calc(100vh - 510px);;
    min-height: 221px;
    overflow-y: auto;
}

#comment-form {
    height: calc(100vh - 540px);;
    min-height: 161px;
    overflow-y: auto;
}