{% extends "base.html" %}
{% load static %}

{% block css_cust %}
<link rel="stylesheet" href="{% static 'order_history/css/order_history.css' %}">
{% endblock %}

{% block sub_title %}Order Review - Create{% endblock %}

{% block content %}
<div class="bg-main"></div>
<div class="container-fluid min-vh-100 pt-5 px-s px-sm-5">
    <div class="row pt-5 mb-2">
        <div class="col text-center">
            <h1 class="no-select fs-2">Order Review - Create</h1>
        </div>
    </div>
    <div class="row mx-auto" style="max-width: 900px">
        <div class="col-12 offset-0 col-lg-8 offset-lg-2">
            <form method="POST" action="{% url 'create_review' order.order_number %}" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a class="btn btn-lg btn-outline-success rounded-0 text-uppercase me-3"
                        href="{% url 'profile' %}">Return</a>
                    <button class="btn btn-lg btn-success rounded-0 text-uppercase" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}