{% extends "base.html" %}
{% load static %}

{% block css_cust %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block sub_title %}Contact Us{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 pt-5 px-5 bg-index">
    <div class="row mx-auto mt-5 pt-3 pb-5 px-0 px-lg-5 about-card rounded" style="max-width: 600px">
        <div class="row">
            <div class="col text-center">
                <h1 class="no-select fs-2 about-title">Contact Us</h1>
            </div>
        </div>
        <div class="row mx-auto mt-2" style="max-width: 800px">
            <div class="col-12">
                <form method="POST" action="{% url 'contact' %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center pt-3">
                        <button class="btn btn-lg btn-send rounded text-uppercase w-100" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}