{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="bg-main"></div>
<div class="container-fluid min-vh-100 card-group pt-5">
    <div class="row mx-auto w-75 pt-5">
        <nav aria-label="page-navbar" class="page-navbar col-md-3 order-md-last my-2 my-md-0 px-0">
            <ul class="pagination pagination-sm justify-content-end my-0">
                {% for page_num in products_page.paginator.page_range %}
                {% if products_page.number is page_num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link bg-success">{{ page_num }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{ page_num }}{{ param }}" class="page-link link-dark">{{ page_num }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="col-md-6 text-center my-2 my-md-0 px-0">
            <div class="row">
                <div class="col-md-9 fw-bolder fs-6 px-0">
                    {% if category %}
                    {% for item in category %}
                    {{ item.get_friendly_name }}
                    {% endfor %}
                    {% else %}
                        {% if search_keyword %}
                        Search Keyword: "{{ search_keyword }}"
                        {% else %}
                        All Products
                        {% endif %}
                    {% endif %}
                    - {{ products_page.start_index }} to
                    {{ products_page.end_index }}
                </div>
                <div class="col-md-3 fw-bolder fs-6 px-0">
                    Total: {{ products_page.paginator.count }}
                </div>
            </div>
        </div>
        <select id="sort-selector" class="col-md-3 border-light order-md-first my-2 my-md-0" style="max-height: 40px;">
            <option value="reset" {% if current_sort == 'None_None' %}selected{% endif %}>Sort by
            </option>
            <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Price
                (+)</option>
            <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Price
                (-)</option>
            <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name
                (A-Z)</option>
            <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name
                (Z-A)</option>
            <option value="category_asc" {% if current_sort == 'category_asc' %}selected{% endif %}>
                Category (A-Z)</option>
            <option value="category_desc" {% if current_sort == 'category_desc' %}selected{% endif %}>Category (Z-A)
            </option>
        </select>
    </div>
    <div class="row gx-0 mx-auto w-75">
        {% for product in products_page %}
        <div class="col-md-3">
            <a href="{% url 'product_detail' product.id %}" class="link-dark">
                <div class="card w-100 border-0 product-card mb-5 mb-md-0">
                    {% if product.image %}
                    <div class="p-1">
                        <img src="{{ product.image.url }}" class="card-img-top img-thumbnail img-fluid"
                            alt="{{ product.name }}" style="height:190px">
                    </div>
                    {% else %}
                    <div class="p-1">
                        <img src="{{ MEDIA_URL }}no-pictures.png" class="card-img-top img-thumbnail img-fluid"
                            alt="{{ product.name }}" style="height:190px">
                    </div>
                    {% endif %}
                    <div class="card-body py-0 h-75">
                        <p class="card-text mb-0">{{ product.name }}</p>
                        <p class="card-text mb-0 fw-bold">${{ product.price }}</p>
                        {% if product.category %}
                        <p class="card-text mb-0 fst-italic"><small>{{ product.category.get_friendly_name }}</small></p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter is not 8 %}
    </div>
    <div class="row gx-0 mx-auto w-75">
        {% endif %}
        {% empty %}
        <p class="text-center fs-2">Here is no any product yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock%}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal != "reset") {
            let sort = selectedVal.split("_")[0];
            let direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}