<div class="toast custom-toast rounded-0 border-top-0" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-light">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if total_cost %}
        <div class="row">
            <div class="col">
                <p class="my-1 text-dark">
                    Subtotal:
                    <span class="float-end">${{ total|floatformat:2 }}</span>
                </p>
                <strong>
                    <p class="my-1 text-dark">
                        Total:
                        <span class="float-end">${{ total_cost|floatformat:2 }}</span>
                    </p>
                </strong>
                <a href="{% url 'view_cart' %}" class="btn btn-sm btn-success rounded-0 float-end">
                    <span class="text-uppercase">Go to cart</span>
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
